<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=SERVSAP2017\SAPBO;Initial Catalog=dwYinsaKPI; User ID=sa; PWD=YinSap12;Pooling=false"
      providerName="System.Data.SqlClient" />
    
    <add name="ObtenerDatosEquipo4._7._2v.Properties.Settings.InventarioPConnectionString"
      connectionString="Data Source=SERVSAP2017\SAPBO;Initial Catalog=dwYinsaKPI; User ID=sa; PWD=YinSap12;Pooling=false"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<!--

Data Source=SERVSAP2017\SAPBO;Initial Catalog=dwYinsaKPI; User ID=sa; PWD=YinSap12;Pooling=false


<add name="ConStr" connectionString="Server=CALCIFER;Database=InventarioP;Persist Security Info= True; User ID=sa;Password=Aalma12345;Pooling=false"
      providerName="System.Data.SqlClient" />
    
    <add name="ObtenerDatosEquipo4._7._2v.Properties.Settings.InventarioPConnectionString"
      connectionString="Data Source=CALCIFER;Initial Catalog=InventarioP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
-->